.keresztezodes {
    background: whitesmoke;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 200px auto;
    grid-template-rows: 40% 20% auto;
}

.ut {
    background: lightgray;
}

img {
    width: 100px;
}

.forgalom {
    position: relative;
}

.auto {
    position: absolute;
    top: 40%;
    left: calc(30% - 100px);
    padding: 10px;
}

.auto2 {
    position: absolute;
    top: 70%;
    left: calc(50% - 100px);
    padding: 10px;
}

.lampa {
    position: absolute;
    width: 20px;
    height: 70px;
    background: rgb(27, 26, 26);
    border-radius: 8px;
    top: calc(40% - 100px);
    left: calc(30% - 40px);
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
}

.lampa div {
    border-radius: 9px;
}

.piros {
    background: rgb(146, 35, 35);
}

.sarga {
    background: rgb(230, 196, 84);
}

.zold {
    background: rgb(59, 190, 47);
}

.balroljobbra {
    animation-name: animacio;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.lentrolfel {
    animation-name: animacio2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes animacio {
    from {
        left: calc(30% - 100px);
    }
    to {
        left: 100%;
    }
}

@keyframes animacio2 {
    from {
        left: calc(50% - 100px);
        bottom: calc(30% - 100px);
    }
    to {
        left: 50%;
        bottom: 100%;
    }
}